* {
    box-sizing: border-box;
 }
 .imageColumn {
    float: left;
    background-color: pink;
    width: 33%;
    padding: 50px;
 }
 header {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  min-width: 100%;
  justify-content: space-between;
  margin: 0;
  padding: 0px 25px;
  background-color: black;
  color: papayawhip;
  position: fixed;
}
 h1{
    text-align: center;
    font-family: cursive;
    color: rgb(32, 29, 29);
 }
 body{
     background-color: papayawhip;
 }

 a{
color: aliceblue;
text-decoration: none;
 }
 .contact {
    background-color:paleturquoise;
  }
  form {
    display: flex;
    flex-direction: column;
    margin: 50px 30%;
    background-color:cadetblue;
    border-radius: 20px;
  }
  input,
  textarea {
    margin: 20px;
    border: hidden;
    border-bottom: white;
    background-color: rgb(53, 48, 48);
    border-radius: 20px;
  }
  input {
    height: 70px;
  }
  textarea {
    height: 50px;
  }
  .footer {
    display: flex;
    flex-direction: column;
    background-color: black;
    color:white;
    position: static;
  }
  .footer-head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
  }
  .footer-head div {
    text-align: center;
    width: 30%;
    justify-content: space-between;
  }
  .footer-foot,
  .contact {
    text-align: center;
  }
  img {
    border-radius: 50%;
  }